[user]
	name	= yasukei
	email	= yasu_kei@icloud.com
[alias]
	llog	= log --format='%Cgreen%h %Creset%ad %Cgreen%an %Creset%s%Cred%d' --date=short --graph --all
	st		= status
	co		= checkout
	bra		= branch

# ===================================================================
# cheat sheet
# ===================================================================

# -------------------------------------------------------------------
# git status
# -------------------------------------------------------------------
# --short (-s), --branch (-b)
#	git status -sb

# -------------------------------------------------------------------
# git log
# -------------------------------------------------------------------
# grep log AND condition (this below condition is 'add' AND ' alias')
#	git log --grep=add --grep=alias --all-match 

# -------------------------------------------------------------------
# git diff
# -------------------------------------------------------------------
# diff unstaged changes
# 	git diff
#
# diff staged changes
#	git diff --cached
#
# diff unstaged and staged changes
#	git diff HEAD

# -------------------------------------------------------------------
# git reset
# -------------------------------------------------------------------
# 

# -------------------------------------------------------------------
# git stash
# -------------------------------------------------------------------
# stash changes
#	git stash save <message>
#
# show diff of stash
# 	git stash show -p stash@{0}
#
# delete all stash
# 	git stash clear

# -------------------------------------------------------------------
# git revert
# -------------------------------------------------------------------
# revert past commit
# 	git revert <commit-hash>
#
# revert but do not commit
# 	git revert --no-commit <commit-hash>

# -------------------------------------------------------------------
# git submodule
# -------------------------------------------------------------------
# show submodules status
# 	git submodule
#
# add submodule
# 	git submodule add <git repository url> <dir path to clone>
#
# checkout submodule
# 	git submodule update -i

