[user]
	name	= Kei Yasuda
	email	= kei_yasuda@outlook.com
[alias]
	llog	= log --format='%Cgreen%h %Creset%ad %Cgreen%an %Creset%s%Cred%d' --date=short --graph
	lllog	= log --name-status --graph --decorate=short
	st		= status
	co		= checkout
	bra		= branch

# ===================================================================
# cheat sheet
# ===================================================================

# -------------------------------------------------------------------
# git status
# -------------------------------------------------------------------
# --short (-s), --branch (-b)
#	git status -sb

# -------------------------------------------------------------------
# git log
# -------------------------------------------------------------------
# grep log AND condition (this below condition is 'add' AND ' alias')
#	git log --grep=add --grep=alias --all-match 

# -------------------------------------------------------------------
# git diff
# -------------------------------------------------------------------
# diff unstaged changes
# 	git diff
#
# diff staged changes
#	git diff --cached
#
# diff unstaged and staged changes
#	git diff HEAD

