[user]
	name = Kei Yasuda
	email = kei_yasuda@outlook.com
[alias]
	llog	= log --oneline --graph --decorate=full
	lllog	= log --oneline --name-status --graph --decorate=full
	st		= status
	co		= checkout
	bra		= branch
